<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" href="../static/cadastro_de_produtos.css">
</head>
<body>
    <h1>Cadastre as informações do produto:</h1>
    <form action="{{ url_for('registrar') }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Digite o nome do produto" required>
    
        <label for="data">Data de Cadastro:</label>
        <input type="datetime-local" name="datetime" id="datetime" required>
    
        <label for="categoria">Categoria:</label>
        <select name="categoria" id="categoria" required>
            <option value="Eletrodoméstico">Eletrodoméstico</option>
            <option value="Eletrônicos">Eletrônicos</option>
            <option value="Acessórios">Acessórios</option>
            <option value="Móveis">Móveis</option>
            <option value="Vestuário">Vestuário</option>
            <option value="Brinquedos">Brinquedos</option>
            <option value="Artigos Esportivos">Artigos Esportivos</option>
            <option value="Alimentos">Alimentos</option>
            <option value="Cosméticos">Cosméticos</option>
        </select>
    
        <label for="custo">Custo:</label>
        <input type="number" name="custo" id="custo" placeholder="Digite o custo do produto" required>
    
        <label for="preco">Preço:</label>
        <input type="number" name="preco" id="preco" placeholder="Digite o preço do produto" required>
    
        <label for="estoque">Quantidade em estoque:</label>
        <input type="number" name="estoque" id="estoque" placeholder="Quantidade disponível" required>
    
        <label for="descricao">Descrição:</label>
        <textarea name="descricao" id="descricao" cols="50" rows="10" placeholder="Digite uma descrição detalhada" required></textarea>
    
        <input type="submit" value="Cadastrar Produto">
    </form><br>

    <a href="{{ url_for('home') }}">Voltar à Página Inicial</a><br><br>
</body>
</html>