<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Movimentação de Estoque</title>
    <link rel="stylesheet" href="../static/cadastro_de_produtos.css">
</head>
<body>
    <h1>Registro de Movimentações</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID Produto</th>
                <th>Nome</th>
                <th>Quantidade Movimentada</th>
                <th>Tipo de Movimentação</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for movimentacao in movimentacoes %}
            <tr>
                <td>{{ movimentacao.mov_pro_id }}</td>
                <td>{{ movimentacao.pro_nome }}</td>
                <td>{{ movimentacao.mov_quantidade }}</td>
                <td>{{ movimentacao.mov_tipo }}</td>
                <td>{{ movimentacao.mov_data }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>

    <p>Forneça os dados do produto que teve movimentação:</p>

    <form action="registrar_movimentacao" method="post">
        <label for="mov_pro_id">ID do produto:</label>
        <input type="number" name="mov_pro_id" id="mov_pro_id" required><br>

        <label for="mov_tipo">Tipo de movimentação:</label>
        <select name="mov_tipo" id="mov_tipo" required>
            <option value="Entrada">Entrada</option>
            <option value="Saída">Saída</option>
        </select><br>

        <label for="mov_data">Data da movimentação:</label>
        <input type="datetime-local" name="mov_data" id="mov_data" required><br>

        <label for="mov_quantidade">Quantidade de Produtos:</label>
        <input type="number" name="mov_quantidade" id="mov_quantidade" required><br>

        <input type="submit" value="Registrar">
    </form><br>

    <a href="{{ url_for('home') }}">Voltar à Página Inicial</a><br><br>
</body>
</html>