<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios e Consultas Avançadas</title>
</head>
<body>
    <h1>Carros Registrados</h1>
    <ul>
        {% for produto in produtos %}
        <li>
            ID: {{ produto.pro_id }} - Nome: {{ produto.pro_nome }} - Preço: {{ produto.pro_preco }} - Estoque: {{ produto.pro_estoque }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>