<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios e Consultas Avançadas</title>
</head>
<body>
    <h1>Carros Registrados</h1>
    <ul>
        {% for carro in carros %}
        <li>
            ID: {{}}
            ID: {{ carro.id }} - Marca: {{ carro.marca }} - Modelo: {{ carro.modelo }} - Ano: {{ carro.ano }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>