* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    height: auto;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #333;
    margin: 40px 20px;
    font-weight: lighter;
}

label {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}

/* Efeito ao focar no input */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus,
select:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
    background-color: #ffffff;
}

/* Botão */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Placeholder mais visível */
textarea, input {
    font-style: italic;
}

select {
    appearance: none;
    background-color: #f9f9f9;
    padding-right: 35px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="%23555" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
    cursor: pointer;
}

/* Ajuste para telas maiores */
@media (min-width: 600px) {
    form {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }
}

table {
    background-color: #ffffff; /* Fundo da tabela */
}

thead {
    background-color: #007BFF; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
}

th, td {
    border: 1px solid #ddd; /* Borda da célula */
    padding: 5px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor de fundo para linhas pares */
}

tbody tr:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.tipo-entrada {
    color: green; /* Cor para entradas */
}

.tipo-saida {
    color: red; /* Cor para saídas */
}